    * {  
    margin: 0;  
    padding: 0;  
    }  
  
    .numpad {  
        margin-left:41%;
        margin-top:7%;
    }   

    .form {
        margin-left:37%;
        margin-top: 10%;
        width: 25%;
    }

    #keyboard {  
        margin: 0;  
        padding: 0;  
        list-style: none;  
    }

    #keyboard li {  
    float: left;  
    margin: 0 5px 5px 0;  
    width: 90px;  
    height: 70px;  
    font-size: 24px;
    line-height: 60px;  
    text-align: center;  
    background: #fff;  
    border: 1px solid #f9f9f9;  
    border-radius: 5px;  
    }  
        .capslock, .tab, .left-shift, .clearl, .switch {  
        clear: left;  
        }  
            #keyboard .tab, #keyboard .delete {  
            width: 70px;  
            }  
            #keyboard .capslock {  
            width: 80px;  
            }  
            #keyboard .return {  
            width: 90px;  
            }  
            #keyboard .left-shift{  
            width: 70px;  
            }  

            #keyboard .switch {
            width: 90px;
            }
            #keyboard .rightright-shift {  
            width: 109px;  
            }  
        .lastitem {  
        margin-right: 0;  
        }  
        .uppercase {  
        text-transform: uppercase;  
        }  
        #keyboard .space {  
        float: left;
        width: 556px;  
        }  
        #keyboard .switch, #keyboard .space, #keyboard .return{
        font-size: 16px;
        }
        .on {  
        display: none;  
        }  
        #keyboard li:hover {  
        position: relative;  
        top: 1px;  
        left: 1px;  
        border-color: #e5e5e5;  
        cursor: pointer;  
        }  

        #keyboard li:active {  
            background-color: #000;
        border-color: #000; 
        }  